

:root {
    --copper: 'Copperplate Gothic Light', sans-serif;
    --century: 'Century Schoolbook', sans-serif;
    --comic: 'Comic Futura', sans-serif;

    --black: #040f0fff;
    --dark-grey: #2d3a3aff;
    --mid-grey: #637070ff;
    --light-grey: #bcccccff;
    --white: #ffffff;

    --dark-green: #124119ff;
    --base-green: #248232ff;
    --light-green1: #67a170ff;
    --light-green2: #92c199ff;
    --light-green3: #b7e0bdff;

    --grey-scale1: #0b1321ff;
    --grey-scale2: #343d4dff;
    --grey-scale3: #5f697aff;
    --grey-scale4: #8b95a6ff;
    --grey-scale5: #b7c1d3ff;
}

/* Formatting for the header across the website */
header {
    background-color: var(--grey-scale1);
    border-bottom-style: ridge;
    border-color: var(--grey-scale4);
    font-family: var(--century);
    height: 125px;
    width: 100%;
}

.top {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}

.logo {
    height: 75px;
    margin: auto;
    margin-left: 2rem;
    margin-right:0;
}

.bctitle {
    font-size: 75px;
    text-align: left;
    font-family: var(--copper);
    margin: auto;
    margin-left: 0;
}

.top p {
    margin-right: 2rem;
}

#login {
    font-size: 17px;
    color: var(--antiflash-white);
    text-align: center;
    font-family: var(--century);
    margin-right: 1rem;
}

#search-bar {
    width: 150px;
}

#search {
    font-family: var(--century);
    font-size: 15px;
    padding: 0px;
}

.social {
    width: 40px;
    height: 40px;
    padding-left: 10px;
    margin-bottom: -12px;
}

.nav {
    margin: 0;
    display:flex;
    justify-content: center;
}

.nav-item {
    margin-right: 2rem;
    list-style-type: none;
    
}

.nav-item a {
    background-color: var(--light-green1);
    color: var(--black);
    text-decoration: none;
    display: block;
    border-radius: 20px;
    width: 125px;
    height: 25px;
}

.nav-item a:hover {
    background-color: var(--base-green);
    color: var(--white);
}

/* General formatting for the body element across the website */
body {
    background-color: var(--grey-scale1);
    text-align: center;
    font-family: var(--century);
    font-size: 17px;
    color: var(--white);
}

/* Formatting for most every button used across the website */
button {
    width: 125px;
    height: 35px;
    background-color: var(--light-green1);
    border-style: none;
    border-radius: 20px;
    font-size: 18px;
    font-family: var(--century);
    color: var(--black);
    text-decoration: none;
}

button:hover {
    width: 125px;
    height: 35px;
    background-color: var(--base-green);
    color: var(--white);
    border-style: none;
    border-radius: 20px;
}

/* Formatting for the arcanum section containing the different rule books available */
.section1 {
    background-image: url(img/beasty.jpg);
    background-position: center;
    background-size:cover;
    height: 1350px;
}

.arcanum {
    display: flex;
    justify-content: center;
    padding-top: 75px;
}

.arcanum div {
    width: 20%;
    height: 400px;
    padding: 30px;
    margin-right: 50px;
    margin-left: 50px;
    background: rgba(11, 19, 33, 0.7);
    border-radius: 20px;
    font-size: 16px;
}

.book h1 {
    font-family: var(--century);
    font-size: 28px;
    height: 50px;
}

.book img {
    width: 100px;
    height: 100px;
    border-color: var(--grey-scale5);
    border-style:ridge;
    border-radius: 20px;
}

.book p {
    font-family: var(--comic);
}

.bd1 {
    font-size: 20px;
}

/* Formatting for the about section on the home page */
.about {
    background: rgba(11, 19, 33, 0.7);
    border-radius: 20px;
    margin-top: 200px;
    margin-left: 10%;
    padding: 30px;
    width: 40%;
    text-align: left;
    font-family: var(--comic);
}

.about h1 {
    color: var(--light-green1);
    font-size: 40px;
    font-family: var(--copper);
}

/* Formatting for the character creation section of the home page */
.section2 {
    display:flex;
    justify-content: flex-end;
}

.creation {
    width: 40%;
    font-size: 20px;
    font-family: var(--comic);
    color: var(--grey-scale3);
    padding: 30px;
    margin-right: 15%;
}

.creation h1 {
    font-family: var(--copper);
    color: var(--light-green1);
}

.creation button {
    width:150px;
}

/* Formatting for the join discord section on the home page */
.section3 {
    display:flex;
    justify-content: flex-start;
    margin-top: 150px;
}

.discord {
    width: 40%;
    font-size: 20px;
    font-family: var(--comic);
    color: var(--grey-scale3);
    padding: 30px;
    margin-left: 15%;
    text-align: left;
}

.discord h1 {
    font-family: var(--copper);
    color: var(--light-green1);
}

.discord p {
    text-indent: 25px;
}

.discord button {
    margin-left: 70%;
}

/* Formatting for the news section of the home page */
.section4 {
    display:flex;
    justify-content: flex-end;
    margin-top: 150px;
}

.news {
    width: 60%;
    margin-bottom: 150px;
}

.news h1 {
    font-family: var(--copper);
    color: var(--light-green1);
    margin-right: 25%;
}

.news-content {
    font-size: 20px;
    font-family: var(--comic);
    color: var(--grey-scale5);
    padding: 30px;
    margin-right: 20%;
    text-align: left;
    background-color: rgba(46, 55, 63, 0.5);
    border-radius: 20px;
}

.news-content h2 {
    color: var(--white);
    margin-bottom: 60px;
}

.news-content button {
    width: 160px;
    margin-left: 70%;
}

/*Format for the characters.html page*/
/* Formatting for the top page header of the characters page */
.chaPageHeader {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-top: 75px;
    width: 80%;
    height: 55px;
    background-color: rgba(46, 55, 63, 0.5);
    border-radius: 20px;
    border-style: ridge;
    border-color: var(--grey-scale3);
}

.chaPageHeader h1 {
    margin: 0;
    margin-left: 1%;
    padding: 5px;
    font-family: var(--century);
}

.chaPageHeader button {
    width: 175px;
    margin-right: 1%;
}

/* formatting for the character bubbles */
.characters {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: left;
    width: 80%;
    margin-left: 10%;
    margin-top: 40px;
    margin-bottom: 100px;
    background-color: rgba(132, 142, 150, 0.5);
}

.characterBubble {
    width: 28%;
    height: 150px;
    padding: 15px;
    margin: 15px;
    background-color: var(--grey-scale1);
}

.characterHead {
    display: flex;
    justify-content: flex-start;
    margin: none;
    border-bottom-style: ridge;
    border-bottom-color: var(--grey-scale3);
}

.characters img {
    width: 75px;
    height: 75px;
}

.characterDescription {
    margin-left: 15px;
}

.characterHead h2 {
    margin-top: 0px;
    margin-left: 0px;
    font-family: var(--copper);
    font-size: 25px;
}

.characterInfo {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: flex-start;
    padding: 0;
}

.characterInfo li {
    margin-left: 5px;;
    font-family: var(--century);
}

.characterNav {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
    padding: 0;
}

.characterNav li {
    font-size: 20px;
    font-family: var(--century);
}

.characterNav button {
    width: 75px;
}

/* Formatting for the character customization pages */
.custChar {
    background-image: url(img/9.png);
    background-position: center;
    background-size:cover;
    height: 2000px;
    padding-top: 30px;
}

.custForms {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
    height: 80%;
    background-color: rgba(23, 32, 39, 0.85);
    border-radius: 20px;
    border-style: ridge;
    border-color: var(--grey-scale3);
}

.formsNav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-green1);
    height: 50px;
    border-radius: 20px;
    border-style: ridge;
    border-color: var(--grey-scale3);
}

.formsNav li {
    margin-right: 2.5rem;
    margin-left: -.5rem;
    list-style-type: none;
}

.formsNav a {
    background-color: var(--grey-scale1);
    color: var(--white);
    text-decoration: none;
    display: block;
    border-radius: 20px;
    border-style: ridge;
    border-color: var(--grey-scale3);
    width: 150px;
    height: 25px;
}

/* Formatting for the footer */
footer {
    background-color: var(--grey-scale1);
    border-top-style: ridge;
    border-color: var(--grey-scale4);
    font-family: var(--century);
    height: 125px;
    width: 100%;
}

.bottom {
    display: flex;
    flex-direction: row;
    margin-right: 5%;
}

.bottom div {
    width: 250px;
}

.bottom p {
    font-size: 18px;
    margin-top: 20px;
    margin: 0;
    padding: 0;
}